<!-- 
<header>
 <div class="container">
  <div class="header-image">
      <img src="img/headerimg.png" alt="Car">
    </div>
 <div class="header-text">
      <h1>Some words about your business </h1>
      <p>MX5 and Excoet specialists. Dyno tuning. Turbo conversions. Supplier of Haltech and MS3 ECU's</p>
    </div>
</div>
</header> -->
<header>
  <div class="container">
    <div class="row">
                <div class="col-lg-6">
      				<img src="img/headerimg.png" alt="Car">
                </div>
                <div class="col-lg-5">
					<h1>Some words about your business </h1>
      				<p>MX5 and Excoet specialists. Dyno tuning. Turbo conversions. Supplier of Haltech and MS3 ECU's</p>
      			</div>
            </div>
        </div>
</header>