    <section class="success" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Service 1 </h1>
                    <p>MX5 and Excoet specialists. Dyno tuning. Turbo conversions. Supplier of Haltech and MS3 ECU's</p>
                </div>
                <div class="col-lg-6">
                    <img src="img/car2.png" alt="Car">
                </div>
            </div>
        </div>
    </section>

    <section class="success" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="img/car2.png" alt="Car">
                </div>
                <div class="col-lg-6">
                    <h1>Service 2 </h1>
                    <p>MX5 and Excoet specialists. Dyno tuning. Turbo conversions. Supplier of Haltech and MS3 ECU's</p>
                </div>
            </div>
        </div>
    </section>

        <section class="success" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Service 3 </h1>
                    <p>MX5 and Excoet specialists. Dyno tuning. Turbo conversions. Supplier of Haltech and MS3 ECU's</p>
                </div>
                <div class="col-lg-6">
                    <img src="img/car3.png" alt="Car">
                </div>
            </div>
        </div>